body {
  background-image: url('img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #8f8f8f;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
            }

#page-wrap {
  width: 800px;
  margin: 5px auto;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid rgb(35, 4, 35);
  background-color: rgb(132, 138, 160);
  color: black
}

thead th:nth-child(1) {
  width: 10%;
}

thead th:nth-child(2) {
  width: 30%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 30%;
}

th {
  background-color: rgb(85, 75, 191);
}

th, td {
  border: 2px solid black;
  padding: 20px;
}



h1 {
    width:500px;
    margin: 0 auto;
    text-align: center;
}

p {
  text-align: center;
  margin: 0 auto; 
}


.card {
  display: grid;
  background-color: rgb(86, 99, 115);
  text-align: center;
  border: rgb(44, 41, 41) solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 25rem;
  display: inline-grid;
  margin: 2rem 2rem;
  box-shadow: 3px 4px #77858f
}

form {
  text-align: center;
}

#title-form {
  font-size: 40px;
  margin: 2rem 2rem
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}


html {
  font-size: 18px;
  
}

html:visited {
  color: red;
}

